<!DOCTYPE html>
<html lang="en">
  <head>
   {{> head}}
  </head>

  <body id="reportsPage">
    <!-- Header -->
    {{> header pageCode=pageCode}}

    <!-- Content -->
    {{{body}}}
    <!-- Footer -->
    <footer class="tm-footer row tm-mt-small">
      {{> footer}}
    </footer>

    <!-- Scripts -->
    {{> scripts}}
  </body>
</html>
